<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Erhverv</title>
  <link rel="stylesheet" href="/erhverv.css">
</head>
<body>
<header>
  <div class="nav">
    <div class="full-logo">
      <img src="environmental-icon 1.svg" alt="earth with leaves">
      <h1 class="logo-text"><em>Danmark mod madspil</em></h1>
    </div>
    <div class="nav-buttons">
      <a href="/">Forside</a>
      <a href="#">Privat</a>
      <a href="/erhverv">Erhverv</a>
      <a href="#">Organisation</a>
      <a href="#">Kontakt</a>
    </div>
    <div class="nav-reg-buttons">
      <a id="sign-in" href="#">Sign in</a>
      <a id="register" href="#">Register</a>
    </div>
  </div>
</header>
<div class="main">
  <img src="mm.jpg" alt="madspild" class="resized-image">
  </div>

  <section class="erhverv-section">
    <div class="card-container">
      <div class="card">
        <img src="aa.jpg" alt="Wefood Partner">
        <h2>Bliv Wefood partner</h2>
        <p>Har I overskydende fødevarer eller andre varer? Vi tilbyder et partnerskab, hvor I kan blive en del af vores butikskoncepter: Wefood eller genbrug.</p>
        <a href="#" class="btn">LÆS MERE OM WEFOOD</a>
      </div>
      <div class="card">
        <img src="ww.jpg" alt="Støt som virksomhed">
        <h2>Støt som virksomhed</h2>
        <p>Gør en forskel ved at støtte vores mission. Som virksomhed kan I bidrage til at bekæmpe madspild og støtte bæredygtige løsninger, der gør en positiv forskel for miljøet og samfundet.</p>
        <a href="#" class="btn">Støt vores mission</a>
      </div>
    </div>
  </section>

</div>
</body>
</html>